In [1]:
import pandas as pd

In [2]:
cat_dict = pd.read_csv("./dataset/NYC/cat_ids_to_category.csv")
dataset = pd.read_csv("./dataset/NYC/NYC_train.csv")
lines_file = pd.read_csv("./db_parser/geographic/train_files/new-york-sl-tuple-geoc2vec-pois_lines_information-pfp-c.csv")
roads_file = pd.read_csv("./db_parser/geographic/train_files/new-york-sl-tuple-geoc2vec-pois_roads_information-pfp-c.csv")
polygons_file = pd.read_csv("./db_parser/geographic/train_files/new-york-sl-tuple-geoc2vec-pois_polygons_information-pfp-c.csv")
points_file = pd.read_csv("./db_parser/geographic/train_files/new-york-sl-tuple-geoc2vec-pois_points_information-pfp-c.csv")

In [3]:
cat_dict.head()

   Unnamed: 0                 POI_catid          POI_catname
0           0  4bf58dd8d48988d127951735  Arts & Crafts Store
1           1  4bf58dd8d48988d1df941735               Bridge
2           2  4bf58dd8d48988d103941735       Home (private)
3           4  4f04afc02fb6e1c99f3db0bc    Mobile Phone Shop
4           5  4bf58dd8d48988d124951735      Automotive Shop

In [15]:
roads_file.head()

              poi_id_center           center_poi              context_osm
0  49bbd6c0f964a520f4531fe3  Arts & Crafts Store        roads_bicycle_yes
1  49bbd6c0f964a520f4531fe3  Arts & Crafts Store      roads_highway_trunk
2  49bbd6c0f964a520f4531fe3  Arts & Crafts Store  roads_highway_secondary
3  49bbd6c0f964a520f4531fe3  Arts & Crafts Store          roads_oneway_no
4  49bbd6c0f964a520f4531fe3  Arts & Crafts Store         roads_oneway_yes

In [7]:
train_file = pd.concat([lines_file, roads_file, polygons_file, points_file])

In [12]:
train_file.shape

(326366, 3)

In [9]:
count = 0
faltando = []

for _, row in cat_dict.iterrows():
    cat = row['POI_catname']
    if cat not in train_file['center_poi'].values:
        faltando.append(cat)
        count += 1

In [11]:
len(faltando)

9

In [16]:
for f in faltando:
    print(dataset[dataset["POI_catname"] == f].shape)

(65, 15)
(90, 15)
(27, 15)
(36, 15)
(20, 15)
(26, 15)
(44, 15)
(4, 15)
(2, 15)

In [17]:
dataset.shape

(83228, 15)

In [18]:
dataset = dataset[~dataset['POI_catname'].isin(faltando)]

In [19]:
dataset.reset_index(drop=True, inplace=True)

In [20]:
dataset.shape

(82914, 15)

In [22]:
dataset.to_csv("./dataset/NYC_new/NYC_train.csv", index=False)

In [23]:
dataset_test = pd.read_csv("./dataset/NYC/NYC_test.csv")
dataset_val = pd.read_csv("./dataset/NYC/NYC_val.csv")

In [24]:
dataset_test.shape

(10374, 15)

In [25]:
dataset_test = dataset_test[~dataset_test['POI_catname'].isin(faltando)]
dataset_test.shape

(10326, 15)

In [26]:
dataset_val.shape

(10339, 15)

In [27]:
dataset_val = dataset_val[~dataset_val['POI_catname'].isin(faltando)]
dataset_val.shape

(10294, 15)

In [28]:
dataset_test.to_csv("./dataset/NYC_new/NYC_test.csv", index=False)
dataset_val.to_csv("./dataset/NYC_new/NYC_val.csv", index=False)

In [29]:
dataset[dataset["POI_catname"] == 'African Restaurant']

,user_id,POI_id,POI_catid,POI_catid_code,POI_catname,latitude,longitude,timezone,UTC_time,local_time,day_of_week,norm_in_day_time,trajectory_id,norm_day_shift,norm_relative_time
1987,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-08 03:22:10+00:00,2012-04-07 23:22:10+00:00,5,0.958333,829_3,0,0.958333
2847,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-09 13:49:25+00:00,2012-04-09 09:49:25+00:00,0,0.395833,829_4,0,0.395833
3597,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-10 04:20:11+00:00,2012-04-10 00:20:11+00:00,1,0.000000,829_4,1,1.000000
4020,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-10 22:31:38+00:00,2012-04-10 18:31:38+00:00,1,0.770833,829_4,1,1.770833
4494,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-11 13:13:44+00:00,2012-04-11 09:13:44+00:00,2,0.375000,829_4,2,2.375000
5687,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-12 13:51:08+00:00,2012-04-12 09:51:08+00:00,3,0.395833,829_4,3,3.395833
6247,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-13 02:14:58+00:00,2012-04-12 22:14:58+00:00,3,0.916667,829_4,3,3.916667
13027,829,4f7cd62de4b08ccdc588e204,4bf58dd8d48988d1c8941735,231,African Restaurant,40.684198,-73.722027,-240,2012-04-19 23:33:59+00:00,2012-04-19 19:33:59+00:00,3,0.812500,829_6,3,3.812500

In [30]:
cat_dict[cat_dict["POI_catname"] == 'African Restaurant']

     Unnamed: 0                 POI_catid         POI_catname
212        1996  4bf58dd8d48988d1c8941735  African Restaurant

In [31]:
train_file[train_file["center_poi"] == 'African Restaurant']

,poi_id_center,center_poi,context_osm
24728,4f7cd62de4b08ccdc588e204,African Restaurant,lines_barrier_fence
24729,4f7cd62de4b08ccdc588e204,African Restaurant,lines_barrier_kerb
24730,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_residential
24731,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_residential
24732,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_residential
24733,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_residential
24734,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_footway
24735,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_service
24736,4f7cd62de4b08ccdc588e204,African Restaurant,lines_highway_service
24737,4f7cd62de4b08ccdc588e204,African Restaurant,lines_surface_concrete
22534,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_detached
22535,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_garage
22536,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_house
22537,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_landuse_residential
22538,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_landuse_residential
22539,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_landuse_residential
22540,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_landuse_residential
22541,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_landuse_construction
22542,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_yes
22543,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_yes
22544,4f7cd62de4b08ccdc588e204,African Restaurant,polygons_building_yes
21110,4f7cd62de4b08ccdc588e204,African Restaurant,points_highway_crossing
21111,4f7cd62de4b08ccdc588e204,African Restaurant,points_highway_crossing
21112,4f7cd62de4b08ccdc588e204,African Restaurant,points_highway_crossing
21113,4f7cd62de4b08ccdc588e204,African Restaurant,points_highway_crossing
21114,4f7cd62de4b08ccdc588e204,African Restaurant,points_highway_crossing